<div class="navbar-item has-dropdown is-hoverable">
  <div class="navbar-link">
    First, Last Name
  </div>
  <div class="navbar-dropdown">
    <a href="#" class="navbar-item">
      <div>
        <span class="icon is-small mr-1">
          <i class="fa fa-user-circle-o"></i>
        </span>
        Profile
      </div>
    </a>
    <a href="#" class="navbar-item">
      <div>
        <span class="icon is-small mr-1">
          <i class="fa fa-sign-out"></i>
        </span>
        Sign Out
      </div>
    </a>
  </div>
</div>