{% load unicorn %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {% unicorn_scripts %}
</head>
<body>

{% unicorn 'stepper' %}

<hr class="my-4">

<button
  hx-get="{% url 'core:load_more' %}"
  hx-target="#loaded-more"
>
  Load more
</button>

<div id="loaded-more">
</div>


<script src="https://cdn.jsdelivr.net/npm/htmx.org@1.6.0/dist/htmx.min.js"></script>

<script>
  function safeEval(str) {
    return Function('"use strict";' + str)();
  }

  document.addEventListener('htmx:afterSettle', function(e) {
    let module = htmx.find(e.detail.target, 'script[type="module"]');
    if (module && module.textContent) {
      safeEval(module.textContent);
    }
  });

  document.addEventListener("DOMContentLoaded", (event) => {
    Unicorn.addEventListener("updated", (component) => {
      // console.log("got updated", component)
    });
  });
</script>

</body>
</html>