{% extends 'base_bulma.html' %}
{% load static %}
{% load unicorn %}

{% block title %}Bulma Site{% endblock %}


{% block css %}
  {{ block.super }}
  {% unicorn_scripts %}
{% endblock css %}


{% block content %}

  {% csrf_token %}

  {% unicorn 'stepper' %}

  <hr class="my-4">
  <div>
    <i class="fa fa-circle-o"></i>
    test icon
  </div>

  <button
    hx-get="{% url 'core:load_more' %}"
    hx-target="#loaded-more"
  >
    Load more
  </button>

  <div id="loaded-more">
  </div>

{% endblock content %}


{% block js %}
  {{ block.super }}
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@1.6.0/dist/htmx.min.js"></script>

  <script>
    function safeEval(str) {
      return Function('"use strict";' + str)();
    }

    document.addEventListener('htmx:afterSettle', function(e) {
      let module = htmx.find(e.detail.target, 'script[type="module"]');
      if (module && module.textContent) {
        safeEval(module.textContent);
      }
    });

    document.addEventListener("DOMContentLoaded", (event) => {
      Unicorn.addEventListener("updated", (component) => {
        // console.log("got updated", component)
      });
    });
  </script>
{% endblock js %}
